#news_container
{
    max-width: 18%;
    margin-left: 82%;
    background:rgba(0,0,0,0.3);
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -o-border-radius:20px;
    -ms-border-radius:20px;
    -khtml-border-radius:20px;
    border-radius:20px;
    text-align:center;
    -webkit-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    -moz-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    -o-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    -ms-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    -khtml-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;	
    margin-bottom: 0.6em;
    padding-bottom:1em;
}

#news{
    width:100%;
    text-align: center;
}

#news h2{
    color:#ffda47;
    padding:0.2em;
}
#news ul{
    list-style:none;
}

#news ul li{
    margin-bottom:0.437em;
    margin-left:0.5em;
    margin-right:0.5em;
    padding:0.2em 0;
    border-style:none;
    background:rgba(34,136,51,0.2);
    -webkit-border-radius:0.8em;
    -moz-border-radius:0.8em;
    -o-border-radius:0.8em;
    -ms-border-radius:0.8em;
    -khtml-border-radius:0.8em;
    border-radius:0.8em
}
