@import url("corsi.css");
@import url("impianti.css");
@import url("prenotazioni.css");

* {
    border: 0 none;
    padding: 0;
    margin: 0;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    word-wrap:break-word;
}

#header{
	text-align:center;
	margin-bottom:1em;
	width: 100%;
}

#path{
	display:none;
}

#nav {
	display:none;
}

#content{
	width:100%;	
}
#content img{
	display:block;
	margin: 0 auto;
	margin-bottom: 1em;
}

#news_container{
	display:none;
	/*width:100%;
	page-break-inside:avoid;
	list-style-type:none;*/
}

#footer{
	display:none;
}
