* {
    border: 0 none;
    padding: 0;
    margin: 0;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    word-wrap:break-word;
}
html,body{
	height:100%;
	font-size:100%;
}
p {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size:0.75em;
}

body{
   /* background-color:#ffda47;*/
    background: #EEE8AA;
    background: -webkit-linear-gradient(to top, #ffda47 0%, #ffffff 80%) fixed;
    background: -moz-linear-gradient(to top, #ffda47 0%, #ffffff 80%) fixed;
    background: -o-linear-gradient(to top, #ffda47 0%, #ffffff 80%) fixed;
    background: -ms-linear-gradient(to top, #ffda47 0%, #ffffff 80%) fixed;
    background: -khtml-linear-gradient(to top, #ffda47 0%, #ffffff 80%) fixed;
    background: linear-gradient(to top, #ffda47 0%, #ffffff 80%) fixed;
    color:#333333;
    height:100%
}

::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4); 
}

::-webkit-input-placeholder {
   font-size:0.9em;
   padding-left:5px;
   font-style:italic
}

.form-container{
    border-style:none;
    background:rgba(34,136,51,0.2);
/*    background:url("../images/headerbackground_o.jpg");*/
    border-radius:1em;
    width:95%;
    margin:1em 2.5%;
    border-width:1px;
    position:relative
}

#form-path-1{
    display:block;
    position:absolute;
    top:0.1em;
    border-radius:50%;
    width:1em;
    height:1em;
    margin:1em;
    background:rgba(0,0,0,0.5);
}

#form-path-2{
    display:block;
    position:absolute;
    top:0.1em;
    left:5%;
    border-radius:50%;
    width:1em;
    height:1em;
    margin:1em;
    background:rgba(0,0,0,0.5);
}

.active{
    background:rgba(255,255,255,0.5)!important;
}

.frm-style{
    text-align:left;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.frm-pren{
    text-align:left;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

form legend{
    text-align:center
}

form legend h2{
    padding-bottom:1em;
    color:#ffda47
}

h2{
    color:#ffda47;
    margin-top:0.8em;
    letter-spacing:1px
}

label{
    display: block;
    margin: 0px 0px 5px;
}

label>span{
    float:left;
    width:20%;
    text-align:right;
    padding-right: 10px;
    margin-top: 12px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

input, select{
    background:rgba(0,0,0,0.2);
    border-radius:5px;
    height:1.575em;
    margin-top:0.3em;
    padding:0.1em;
    width:40%;
    text-indent:0.4em;
    color:#333333;
    -webkit-box-shadow: 0px 0px 4px #888;
    -moz-box-shadow: 0px 0px 4px #888;
    -o-box-shadow: 0px 0px 4px #888;
    -ms-box-shadow: 0px 0px 4px #888;
    box-shadow: 0px 0px 4px #888;
}

textarea{
    background:rgba(0,0,0,0.2);
    border-radius:5px;
    margin-top:0.3em;
    padding:0.1em;
    text-indent:0.4em;
    color:#333333;
    width:70%;
    height:18em;
    resize:none;
    -webkit-box-shadow: 0px 0px 4px #888;
    -moz-box-shadow: 0px 0px 4px #888;
    -o-box-shadow: 0px 0px 4px #888;
    -ms-box-shadow: 0px 0px 4px #888;
    box-shadow: 0px 0px 4px #888;
}

input:focus, select:focus, textarea:focus, input:hover, select:hover, textarea:hover{
    -webkit-box-shadow: 0px 0px 8px #228833;
    -moz-box-shadow: 0px 0px 8px #228833;
    -o-box-shadow: 0px 0px 8px #228833;
    -ms-box-shadow: 0px 0px 8px #228833;
    box-shadow: 0px 0px 8px #228833;
    outline: none;
    color:#333333
}

input:focus::-webkit-input-placeholder { color:transparent; }

input:focus{
    text-indent:0.4em
}

#prenotazioni_tbl{
    table-layout:fixed;
    width:80%;
    border-collapse:collapse;
    margin-left:10%;
    margin-top:5%;
    background:url("../images/headerbackground_o.jpg")
}

#prenotazioni_tbl th, #prenotazioni_tbl td{
    border: 1px dotted black;
    font-size:10px;
    padding:5px;
}

#corsi_tbl{
    width:80%;
    margin-left:10%;
    margin-top:1%;
    margin-bottom:5%;
    border-collapse:collapse
}

#corsi_tbl th{
    border-bottom: 1px solid #777777;
    padding:8px;
    font-size:11px
}

#corsi_tbl td{
    padding:5px;
    font-size:11px
}

#corsi_tbl tr:hover{
    background-color:rgba(0,0,0,0.1)
}

.odd{
    background-color:rgba(0,0,0,0.1)
}

td{
    font-size:9px
}

.red{
    background:rgba(255,0,0,0.5);
}

.green{
    background:rgba(0,255,0,0.4);
}

.selected{
    background:rgba(255,255,255,0.3)
}

#images{
    text-align:center;
    margin:auto;
    float:left;
    width:30%
}

#images span{
    display:block;
    width:100%;
    margin:0 0.5em;
    font-size:0.675em
}

#images img{
    width:14em;
    height:10em;
    border-style:solid;
    border-width:1px;
    border-color:#777777
}

#images span:first-child img{
    border-top-left-radius:1em;
    border-top-right-radius:1em
}

#images span:last-child img{
    border-bottom-left-radius:1em;
    border-bottom-right-radius:1em
}

#separator{
    float:left;
    display:block;
    position:absolute;
    width:1px;
    top:5%;
    left:33%;
    bottom:5%;
    border-style:dotted;
    border-color:#777777;
    border-left-width:1px
}

#imp_desc{
    width:65%; 
    margin-left:35%
}

.floated{
    float:left;
    width:30%;
    margin:1em;
    border-radius:1em;
    border-style:solid;
    border-width:1px;
    border-color:#777777
}

#content span{
    clear:both
}

#err_nome, #err_cognome, #err_telefono, #err_email, #err_ora, #err_campo,#err_data{
    vertical-align:middle;
    margin-left:1em;
    color:#f00
}

#field{
 width:5%;
 clear:both
}

#button_container{
    text-align:center
}

.button{
    background-color:#228833;
    color: #ffda47;
    width:40%;
    margin:1em 0.5em;
    font-size:0.9em;
    cursor:pointer
}

.button:hover{
    background-color:#ffda47;
    color: #228833;
}

#container {
	height: 100%;
	margin: 0 5% 0;
}

#header
{
	height:15%;
	width:100%;
	background: #228833 url("../images/headerbackground.jpg") no-repeat;
	background-size:100%;
	color:#FFDA47;
	padding-top:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-top-right-radius:20px;
    -o-border-top-right-radius:20px;
    -ms-border-top-right-radius:20px;
    -khtml-border-top-right-radius:20px;
    border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-bottom-right-radius:20px;
    -o-border-bottom-right-radius:20px;
    -ms-border-bottom-right-radius:20px;
    -khtml-border-bottom-right-radius:20px;
    border-bottom-right-radius:20px;
	-webkit-box-shadow: 4px 4px 8px #888;
	-moz-box-shadow: 4px 4px 8px #888;
    -o-box-shadow: 4px 4px 8px #888;
    -ms-box-shadow: 4px 4px 8px #888;
    -khtml-box-shadow: 4px 4px 8px #888;
    box-shadow: 4px 4px 8px #888;
	margin-bottom:0.6em;
   	position:relative;
}
#header h1
{
	text-align:center;
	font-weight: bold;
}
#path
{
    position:absolute;
    height:30%;
    width:100%;
    bottom:0;
    opacity:0.7;
    background-color:#ffda47;
    background-image: -webkit-linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    background-image: -moz-linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    background-image: -o-linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    background-image: -ms-linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    background-image: -khtml-linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    background-image: linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    color:#333333;
    /*border-bottom-left-radius:20px;*/
    -webkit-border-bottom-right-radius:20px;
    -moz-border-bottom-right-radius:20px;
    -o-border-bottom-right-radius:20px;
    -ms-border-bottom-right-radius:20px;
    -khtml-border-bottom-right-radius:20px;
    border-bottom-right-radius:20px
}

#path span{
    position:absolute;
    top:30%;
    text-indent:10px;
    font-size:0.8em
}

#nav {
  	float: left;
	width: 20%;
	height: 65%;
}

#nav ul {
	list-style: none;
	display: block;
	position: relative;
	background-size: 50% 100%;
}

#nav ul li{
	margin-bottom:0.437em;	
}

#nav ul li a{
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -khtml-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #228833;
    color: #FFDA47;
    padding: 0.437em 0.937em 0.437em 0.937em;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -o-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 65%; 
    display: block;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    -o-box-shadow: 2px 2px 4px #888;
    -ms-box-shadow: 2px 2px 4px #888;
    -khtml-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
    text-decoration:none;
}

#nav ul li a:hover{
	/*background: #ffda47;*/
    background-color:#ffda47;
    background-image: -webkit-linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    background-image: -moz-linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    background-image: -o-linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    background-image: -ms-linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    background-image: -khtml-linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    background-image: linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    color: #228833;
    padding: 0.437em 0.937em 0.437em 1.875em;
}

#active {
    background-image: -webkit-linear-gradient(to right, #ffda47 0%, #ffffff 150%) !important;
    background-image: -moz-linear-gradient(to right, #ffda47 0%, #ffffff 150%) !important;
    background-image: -o-linear-gradient(to right, #ffda47 0%, #ffffff 150%) !important;
    background-image: -ms-linear-gradient(to right, #ffda47 0%, #ffffff 150%) !important;
    background-image: -khtml-linear-gradient(to right, #ffda47 0%, #ffffff 150%) !important;
    background-image: linear-gradient(to right, #ffda47 0%, #ffffff 150%) !important;
    background-color:#ffda47 !important;
    color: #228833 !important;
    padding: 0.437em 0.937em 0.437em 1.875em !important;
}

#news_container
{
    max-width: 18%;
    margin-left: 82%;
    background:rgba(0,0,0,0.3);
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -o-border-radius:20px;
    -ms-border-radius:20px;
    -khtml-border-radius:20px;
    border-radius:20px;
    text-align:center;
    -webkit-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    -moz-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    -o-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    -ms-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    -khtml-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;	
    margin-bottom: 0.6em;
    padding-bottom:1em;
}

#news{
    width:100%;
    text-align: center;
}

#news h2{
    color:#ffda47;
    padding:0.2em;
}
#news ul{
    list-style:none;
}

#news ul li{
    margin-bottom:0.437em;
    margin-left:0.5em;
    margin-right:0.5em;
    padding:0.2em 0;
    border-style:none;
    background:rgba(34,136,51,0.2);
    -webkit-border-radius:0.8em;
    -moz-border-radius:0.8em;
    -o-border-radius:0.8em;
    -ms-border-radius:0.8em;
    -khtml-border-radius:0.8em;
    border-radius:0.8em
}

#content{
    position:relative; /* per separator */
    width:60%;
    float:left;
    min-height:65%;
    background:rgba(0,0,0,0.3);
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -o-border-radius:20px;
    -ms-border-radius:20px;
    -khtml-border-radius:20px;
    border-radius:20px;
    text-align:center;
    -webkit-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    -moz-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    -o-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    -ms-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    -khtml-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;	
    margin-bottom: 0.6em;
    padding-bottom:1em;
}

#content p,#content ul{
    text-align: left;
    padding-left: 2em;
    margin-right: 2em;
}
#content p{
    padding-top: 0.8em
}
#content ul{
    margin-left:3em;
}

#content ul li{
    font-size:0.8em
}

span.bold{
    font-weight:bold
}

#content img{
    margin-top:1em;
}

#footer{
    width:100%;
    height:10%;
    clear: both;
    background: #13c26e url("../images/footerbackground.jpg") no-repeat;
    background-size:100%;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-bottom-right-radius: 20px;
    -o-border-bottom-right-radius: 20px;
    -ms-border-bottom-right-radius: 20px;
    -khtml-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-top-right-radius: 20px;
    -o-border-top-right-radius: 20px;
    -ms-border-top-right-radius: 20px;
    -khtml-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: 4px 4px 8px  #888;
    -moz-box-shadow: 4px 4px 8px  #888;
    -o-box-shadow: 4px 4px 8px  #888;
    -ms-box-shadow: 4px 4px 8px  #888;
    -khtml-box-shadow: 4px 4px 8px  #888;
    box-shadow: 4px 4px 8px  #888;
    color: #ffda47;
    text-align: center;	
}

#footer p{
    padding: 1.5em;
}

#imp_desc p{ /* sovrascrittura content */
    text-align:justify
}

#content span p{
    text-align:justify
}