* {
    border: 0 none;
    padding: 0;
    margin: 0;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    word-wrap:break-word;
}
html,body{
    height:100%;
    font-size:100%;
}
p {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size:0.9em;
}
body{
    background: #EEE8AA;
    background: -webkit-linear-gradient(to top, #ffda47 0%, #ffffff 80%) fixed;
    background: -moz-linear-gradient(to top, #ffda47 0%, #ffffff 80%) fixed;
    background: -o-linear-gradient(to top, #ffda47 0%, #ffffff 80%) fixed;
    background: linear-gradient(to top, #ffda47 0%, #ffffff 80%) fixed;
}
::-webkit-scrollbar {
    width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4); 
}
.frm-style{
    text-align:left;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}
form legend h2{
    padding:1em 1em;
}
label{
    display: block;
    margin: 0px 0px 5px;
}
label>span{
    float: left;
    width:20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
input, select{
    background:rgba(0,0,0,0.2);
    border-radius:5px;
    height:1.575em;
    margin-top:0.3em;
    padding:0.1em;
    width:60%;
    -webkit-box-shadow: 0px 0px 4px #888;
    -moz-box-shadow: 0px 0px 4px #888;
    box-shadow: 0px 0px 4px #888;
}
input:focus, select:focus, input:hover, select:hover{
    -webkit-box-shadow: 0px 0px 8px #228833;
    -moz-box-shadow: 0px 0px 8px #228833;
    box-shadow: 0px 0px 8px #228833;
    outline: none;
}
table{
    table-layout:fixed;
    width:90%;
    border-collapse:collapse;
    margin-left:5%
}
table, th, td{
    border: 1px dotted black;
    font-size:10px;
    padding:5px;
}
.red{
    background:rgba(255,0,0,0.5);
}
.green{
    background:rgba(0,255,0,0.3);
}
.selected{
    background:rgba(255,255,255,0.3)
}
#err_nome, #err_cognome, #err_telefono, #err_email, #err_ora, #err_campo,#err_data{
    vertical-align:middle;
    margin-left:1em;
    color:#f00
}
#field{
 width:5%;
 clear:both
}
#button_container{
    text-align:center
}
.button{
    background-color:#228833;
    color: #ffda47;
    width:40%;
    margin:1em 0.675em;
    cursor:pointer
}
.button:hover{
    background-color:#ffda47;
    color: #228833;
}
#container {
    height: 100%;
    margin: 0 5% 0;
}
#header{
    height:15%;
    width:100%;
    background: #228833 url("../images/headerbackground.jpg") no-repeat;
    background-size:100%;
    color:#FFDA47;
    padding-top:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-top-right-radius:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-bottom-right-radius:20px;
    border-bottom-right-radius:20px;
    -webkit-box-shadow: 4px 4px 8px #888;
    -moz-box-shadow: 4px 4px 8px #888;
    box-shadow: 4px 4px 8px #888;
    margin-bottom:0.6em;
    position:relative;
}
#header h1{
	text-align:center;
	font-weight: bold;
}
#path{
    position:absolute;
    height:30%;
    width:100%;
    bottom:0;
    opacity:0.7;
    background-color:#ffda47;
    background-image: -webkit-linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    background-image: -moz-linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    background-image: -o-linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    background-image: linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    color:#333333;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-bottom-right-radius:20px;
    border-bottom-right-radius:20px
}
#path span{
    position:absolute;
    top:30%;
    text-indent:10px;
    font-size:0.8em
}
#login{
    float:left;
    padding-left: 45%;
    width:53%;
}
#login input, label{
    margin-top: 0.75em;
    display: inline !important;
    font-size:0.8em;
    width: 13%;
}
#nav {
    float: left;
    width: 20%;
    height: 65%;
}
#nav ul {
    list-style: none;
    display: block;
    position: relative;
    -webkit-background-size: 50% 100%;
    -moz-background-size: 50% 100%;
    -o-background-size: 50% 100%;
    background-size: 50% 100%;
}
#nav ul li{
    margin-bottom:0.437em;	
}
#nav ul li a{
    width: 85%; 
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #228833;
    color: #FFDA47;
    padding: 0.437em 0.937em 0.437em 0.937em;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    display: block;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
    text-decoration:none
}
#nav ul li a:hover{
    background-color:#ffda47;
    background-image: -webkit-linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    background-image: -moz-linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    background-image: -o-linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    background-image: linear-gradient(to right, #ffda47 0%, #ffffff 150%);
    color: #228833;
    padding: 0.437em 0.937em 0.437em 1.875em
}
#active {
    background-image: -webkit-linear-gradient(to right, #ffda47 0%, #ffffff 150%) !important;
    background-image: -moz-linear-gradient(to right, #ffda47 0%, #ffffff 150%) !important;
    background-image: -o-linear-gradient(to right, #ffda47 0%, #ffffff 150%) !important;
    background-image: linear-gradient(to right, #ffda47 0%, #ffffff 150%) !important;
    background-color:#ffda47 !important;
    color: #228833 !important;
    padding: 0.437em 0.937em 0.437em 1.875em !important
}
#news_container{
    width: 100%;	
    background:rgba(0,0,0,0.3);
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    text-align:center;
    -webkit-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    -moz-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;	
    padding-bottom:0.15em;
    margin-bottom:0.5em;
}
#news{
    text-align: center;
    margin-top:1em;
    width:100%;
}
#news h2{
    color:#ffda47;
    padding:0.2em;
}
#news ul{
    list-style: none;	
}
#news ul li{
    margin-bottom:0.437em;
    margin-left:0.5em;
    margin-right:0.5em;
    padding:0.2em 0;
    border-style:none;
    background:rgba(34,136,51,0.2);
    -webkit-border-radius:0.8em;
    -moz-border-radius:0.8em;
    border-radius:0.8em;
}
#content{
    width:70%;
    min-height:65%;
    margin-left: 30%;
    background:rgba(0,0,0,0.3);
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    text-align:center;
    -webkit-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    -moz-box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;
    box-shadow: 4px 0px 8px #888 , -4px 0px 8px #888;	
    margin-bottom: 0.6em;
    padding-bottom:1em;
}
#content p,#content ul{
    text-align: left;
    padding-left: 2em;
    margin-right: 2em;
}
#content p{
    padding-top: 0.8em;
}
#content ul{
    margin-left:4em;
}
#content img{
    margin-top:1em;
}
#footer{
    width:100%;
    height:10%;
    clear: both;
    background: #13c26e url("../images/footerbackground.jpg") no-repeat;
    background-size:100%;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: 4px 4px 8px  #888;
    -moz-box-shadow: 4px 4px 8px  #888;
    box-shadow: 4px 4px 8px  #888;
    color: #ffda47;
    text-align: center;	
}
#footer p{
    padding: 1.5em;
}
