* {
    border: 0 none;
    padding: 0;
    margin: 0;
    font-family:sans, Comic Sans MS;
}
html,body{
	height:100%;
	margin-left:5%;
	margin-right:5%;
}

#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

#header
{
	height:15%;
	width:100%;
	background: #228833 url("../images/headerbackground.jpg") no-repeat;
	background-size:100%;
	color:#FFDA47;
	text-align:center;
	padding-top:20px;
}
#header h1
{
	text-align:center;
}
#path
{
	min-height:2.0em;	
	background-color:#2F2F40;
	color:#FFDA47;
}
#path p
{
	padding:10px;
}	

#nav {
  	float: left;
	width: 20%;
	height: 85%;
	background: url(../images/shad2.png) no-repeat;
}

#nav ul {
	list-style: none;
	display: block;
	position: relative;
	padding: 10px 0 60px 0;
	-webkit-background-size: 50% 100%;
}

li {
	margin: 5px 0 0 0;
}

#nav ul li {
	-webkit-transition: all 0.3s ease-out;
	background: #228833 url(../images/border.png) no-repeat;
	color: #FFDA47;
	padding: 7px 15px 7px 15px;
	-webkit-border-top-right-radius: 10px;
 	-webkit-border-bottom-right-radius: 10px;
	width: 9em; 
	display: block;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
}

#nav ul li:hover:not(#active){
	background: #ffda47 url(../images/border.png) no-repeat;
	color: #228833;
	padding: 7px 15px 7px 30px;
}

#nav a{
	color: #FFDA47;
	text-decoration:none;
}

#active {
	background: #FFDA47 url(../images/border.png) no-repeat !important;
	color: #228833 !important;
	padding: 7px 15px 7px 30px !important;
}

#news
{
	margin-left: 80%;
	height:85%;
	background: #ff0000 url(../images/shad2.png) no-repeat;
	background-size: 30% 100%;
}

#content{
	width:60%;
	float:left;
	height:85%;
	background: #336633;
}
