* {
margin: 0;
}

html{
  height: 100%;
}
body {
  min-height: 100%;
}

#header{ 
	min-height: 150px;
	background-color: #760;
}

#wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}

#nav {
    background-color: #f00;
    float: left;
    width: 20%;
    height: 70%;
}

#content {
    background-color: #0f0;
    float: left;
    width: 65%;
}

#news {
	background-color: #00f;
}

#footer, #push {
	clear:both;
	height: 4em;
	background-color: #9A0;
}
