<tmpl_include name = "header.tmpl">
<div id="nav">
  <ul>
    <li><a href="load.cgi?page=home">Home</a></li>
    <li><a href="load.cgi?page=impianti">Gli Impianti</a><li>
    <li><a href="load.cgi?page=corsi">Fitness e corsi</a></li>
    <li><a id="active">Contatti</a></li>
    <li><a href="load.cgi?page=prenotazioni">Prenotazioni</a></li>
    <li><a href="load.cgi?page=personale">Area Personale</a></li>
  </ul>
</div>
<div id="content">
  <div class="form-container">
    <h2>Contatti</h2>
    <form>
      <label for="name">Nome:</label>
      <input type="text" name="name" id="name">
      <input type="submit" value="submit">
    </form>
  </div>
</div>	
<tmpl_include name = "footer.tmpl">
