<tmpl_include name = "header.tmpl">
<a href="#content" class="skip" tabindex="1">Salta a contenuto</a>
<div id="nav">
  <ul>
    <li><a href="load.cgi?page=home">Home</a></li>
    <li><a href="load.cgi?page=impianti">Gli Impianti</a></li>
    <li><a href="load.cgi?page=corsi">Fitness e corsi</a></li>
    <li><a id="active">Contatti</a></li>
    <li><a href="load.cgi?page=prenotazioni">Prenotazioni</a></li>
    <li><a href="load.cgi?page=personale">Area Personale</a></li>
  </ul>
</div>
<div id="content">
  <a href="#login" class="skip" tabindex="2">Salta a login</a>
  <div class="form-container">
    <h2>Contatti</h2>
    <p>
      Puoi trovarci al nostro indirizzo in via del web 12, Padova, telefono 012 345678, oppure scrivici all'indirizzo email ciccipanze@sul.web, oppure utilizzando l'apposito form che segue. 
    </p>
    <form class="prenfrm" action="user_jobs.pl" method="post" onsubmit="return validate_contact()" id="contattaci" >
      <fieldset>
	<legend>Contattaci</legend>
	<div class="formgroup">
	  <label for="email">E-Mail:</label>
	  <input type="text" name="email" id="email" value="<tmpl_var escape = html name = email>"/>
	</div>
	<div class="formgroup">
	  <label for="message">Messaggio:</label>
	  <textarea name="message" id="message" cols="50" rows="30"></textarea>
	</div>
	<div class="formgroup">
	  <input type="hidden" id="_cmd" name="_cmd" value="send" />
	  <input type="reset" value="Resetta" class="button" />
	  <input type="submit" value="Invia" class="button" />
	</div>
      </fieldset>
    </form>
    <tmpl_if name = "error">
      <div class="errore">Errore nel form</div>
    </tmpl_if>
  </div>
</div>	
<tmpl_include name = "footer.tmpl">
