<tmpl_include name = "header.tmpl">
<div id="nav">
  <ul>
    <li><a href="load.cgi?page=home">Home</a></li>
    <li><a href="load.cgi?page=impianti">Gli Impianti</a><li>
    <li><a href="load.cgi?page=corsi">Fitness e corsi</a></li>
    <li><a id="active">Contatti</a></li>
    <li><a href="load.cgi?page=prenotazioni">Prenotazioni</a></li>
    <li><a href="load.cgi?page=personale">Area Personale</a></li>
  </ul>
</div>
<div id="content">
  <div class="form-container">
    <h2>Contatti</h2>
    <p>
      Indirizzo, mappa?
    </p>
    <form class="prenfrm" action="" method="post" name="contattaci" onsubmit="return validate_contact()" >
      <fieldset>
	<legend>Contattaci</legend>
	<div class="formgroup">
	  <label for="email">E-Mail:</label>
	  <input type="text" name="email" id="email" value="<tmpl_var escape = html name = email>"/>
	</div>
	<div class="formgroup">
	  <label for="message">Message:</label>
	  <textarea name="message" id="message"></textarea>
	</div>
	<div class="formgroup">
	  <input type="submit" value="submit" class="button" />
	</div>
      </fieldset>
    </form>
    <tmpl_if name = "error">
      <div class="errore">Errore nel form</div>
    </tmpl_if>
  </div>
</div>	
<tmpl_include name = "footer.tmpl">
