<tmpl_include name = "header.tmpl">
  <a href="#content" class="skip" tabindex="1">Salta a contenuto</a>
  <div id="nav">
    <ul>
      <li><a href="load.cgi?page=home">Home</a></li>
      <li><a href="load.cgi?page=impianti">Gli Impianti</a></li>
      <li><a id="active">Fitness e corsi</a></li>
      <li><a href="load.cgi?page=contatti">Contatti</a></li>
      <li><a href="load.cgi?page=prenotazioni">Prenotazioni</a></li>
      <li><a href="load.cgi?page=personale">Area Personale</a></li>
    </ul>
  </div>
  
  <div id="content">
    <a href="#login" class="skip">Salta a login</a>
    <div id="preview">
      <h2>Fitness e corsi</h2>
      <img src="../images/fitness.jpg" alt="Sala fitness" class="floated"/>
      <p>
      <span>
	La nostra sala fitness e' di nuovissima generazione, attrezzature elettroniche si accompagnano ai tradizionali bilancieri e corde.
      </span>
      </p>
      <p>
	<span>
	Ci sono inoltre 3 sale adibite ai corsi organizzati, secondo orari settimanali e tenuti da <span xml:lang="en">trainer</span> altamente qualificati, tra questi figurano Yoga, Pilates, Fit Boxe
	Zumba e Cross Fit.
      </span>
      </p>
    </div>
    <table summary="Prezzi abbonamenti dei corsi nel nostro centro" class="table table-corsi">
      <caption>Abbonamenti ai corsi</caption>
      <thead>
	<tr>
	  <th scope="col">Corso</th>
	  <th scope="col">Mensile</th>
	  <th scope="col">Trimestrale</th>
	  <th scope="col">Semestrale</th>
	  <th scope="col">Annuale</th>
	</tr>
      </thead>
      <tbody>
	<tmpl_loop name = "courses_price">
	  <tr>
	    <td><tmpl_var name = "c_name"></td>
	    <td><tmpl_var name = "c_mon"></td>
	    <td><tmpl_var name = "c_tri"></td>
	    <td><tmpl_var name = "c_sem"></td>
	    <td><tmpl_var name = "c_ann"></td>
	  </tr>
	</tmpl_loop> 
      </tbody>
    </table>
    <table summary="Orari settimanali dei corsi" class="table table-corsi">
      <caption>Orari settimanali</caption>
      <thead>
	<tr>
	  <th scope="col">Corso</th>
	  <th scope="col"><abbr title="Lunedi">Lun</abbr></th>
	  <th scope="col"><abbr title="Martedi">Mar</abbr></th>
	  <th scope="col"><abbr title="Mercoledi">Mer</abbr></th>
	  <th scope="col"><abbr title="Giovedi">Gio</abbr></th>
	  <th scope="col"><abbr title="Venerdi">Ven</abbr></th>
	  <th scope="col"><abbr title="Sabato">Sab</abbr></th>
	  <th scope="col"><abbr title="Domenica">Dom</abbr></th>
	</tr>
      </thead>
      <tbody>
	<tmpl_loop name = "courses_scheduling">
	  <tr>
	    <td><tmpl_var name = "c_name"></td>
	    <td><tmpl_var name = "c_lun"></td>
	    <td><tmpl_var name = "c_mar"></td>
	    <td><tmpl_var name = "c_mer"></td>
	    <td><tmpl_var name = "c_gio"></td>
	    <td><tmpl_var name = "c_ven"></td>
	    <td><tmpl_var name = "c_sab"></td>
	    <td><tmpl_var name = "c_dom"></td>
	  </tr>
	</tmpl_loop> 
      </tbody>
    </table>
    <h2>Arti Marziali</h2>
    <img src="../images/seagal-3.jpg" alt="Maestro di Aikido in azione" class="floated" />
    <p>
    <span>Il nostro miglior maestro durante una dimostrazione di Aikido</span></p>
    <p><span>Prime 2 lezioni sono gratuite, senza impegno</span><p>
      <ul class="arti">
	<li> Aikido</li>
	<li> Karate</li>
	<li> Ninjutsu</li>
      </ul>
  </div>
  <script type="text/javascript" src="../js/rtc_form.js"></script>
  <tmpl_include name = "footer.tmpl">
