<tmpl_include name = "header.tmpl">
<div id="nav">
		<ul>
		  <li><a href="load.cgi?page=home">Home</a></li>
		  <li><a href="load.cgi?page=impianti">Gli Impianti</a></li>
		  <li><a id="active">Fitness e corsi</a></li>
		  <li><a href="load.cgi?page=contatti">Contatti</a></li>
		  <li><a href="viewB.cgi">Prenotazioni</a></li>
		</ul>
	</div>

	<div id="content">
	  <div id="preview">
	  <h2>Fitness e corsi</h2>
	  <img src="../images/fitness.jpg" alt="" class="floated" />
	  <span>
	    <p>La nostra sala fitness dog lorem dog ipsum dog</p>
	    <p>La nostra sala fitness dog lorem dog ipsum dog.La nostra sala fitness dog lorem dog ipsum dog</p>
	    <p>La nostra sala fitness dog lorem dog ipsum dog</p>
	    <p>La nostra sala fitness dog lorem dog ipsum dog.La nostra sala fitness dog lorem dog ipsum dog</p>
	    <p>La nostra sala fitness dog lorem dog ipsum dog</p>
	    <p>La nostra sala fitness dog lorem dog ipsum dog.La nostra sala fitness dog lorem dog ipsum dog.
	      La nostra sala fitness dog lorem dog ipsum dog.La nostra sala fitness dog lorem dog ipsum dog.La nostra sala fitness dog lorem dog ipsum dog</p>
	     <p>La nostra sala fitness dog lorem dog ipsum dog.La nostra sala fitness dog lorem dog ipsum dog.
	      La nostra sala fitness dog lorem dog ipsum dog.La nostra sala fitness dog lorem dog ipsum dog.La nostra sala fitness dog lorem dog ipsum dog</p>
	      <p>La nostra sala fitness dog lorem dog ipsum dog.La nostra sala fitness dog lorem dog ipsum dog.
	      La nostra sala fitness dog lorem dog ipsum dog.La nostra sala fitness dog lorem dog ipsum dog.La nostra sala fitness dog lorem dog ipsum dog</p>
	  </span>
	  </div>
	  <h2>I Corsi</h2>
          <tmpl_var name=tbl_corsi>
	  <tmpl_var name=tbl>
	  <h2>Arti Marziali</h2>
	  <img src="../images/seagal-3.jpg" alt="" class="floated" />
	  <span><p>Il nostro miglior maestro durante una dimostrazione di Aikido</p>
	  <ul>
	    <li> Prime 2 lezioni gratuite</li>
	    <li> Aikido</li>
	    <li> Karate</li>
	    <li> Ninjutsu</li>
	  </ul>
	  </span>
	</div>
<tmpl_include name = "footer.tmpl">
