<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="it" lang="it">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width" />
<title><tmpl_var name="title"></title>
<link rel="stylesheet" type="text/css" media="only screen and (min-width: 768px)" href="../css/style.css" />
<link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 767px)" href="../css/tablet.css" />
<link rel="stylesheet" media="only screen and (max-width: 480px)" href="../css/mobile.css" />
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/script.js"></script>

<!-- inserire i js -->
</head>
<body>
<div id="container">
	<div id="header">
		<h1>Centro Sportivo</h1>

		<div id="path">
		  <span><tmpl_var name="path"></span>
		</div>
	</div>
