<tmpl_include name = "header.tmpl">
  <div id="nav">
    <ul>
      <li><a href="load.cgi?page=home">Home</a></li>
      <li><a id="active">Gli Impianti</a></li>
      <li><a href="load.cgi?page=corsi">Fitness e corsi</a></li>
      <li><a href="load.cgi?page=contatti">Contatti</a></li>
      <li><a href="load.cgi?page=prenotazioni">Prenotazioni</a></li>
      <li><a href="load.cgi?page=personale">Area Personale</a></li>
    </ul>
  </div>

  <div id="content">
    <h2>Gli impianti</h2>
    <div id="images">
      <img src="../images/campo_calciotto.jpg" alt="campo calcetto" />
      <img src="../images/campo_volley.jpg" alt="campo pallavolo" />
      <img src="../images/campo-tennis.jpg" alt="campo tennis" />
      <img src="../images/campo_beachvolley.jpg" alt="campo <xml:lang='eng' beach volley >" />
<!--      <tmpl_loop name=imm_campi> 
	<span>
	  <img src="<tmpl_var escape=html name=src>" alt="" />
	  <div class="caption">Campo calcetto esterno</div>
	</span>
<!--      </tmpl_loop>-->
    </div>
    <div id="imp_desc">
      <p>  Il nostro centro offre tutto quello di cui uno sportivo ha bisogno, con un'estensione di oltre <em>360000<abbr title="Metri quadri">mq</abbr></em>
	e 10 strutture sportive, siamo uno dei centri più all'avanguardia della regione.
      </p>
      <p>
	Le nostre strutture sono le seguenti:
      </p>
      <ul>
	<li><span class="bold"><tmpl_var name="n_calcetto"></span> campi da Calcetto in erba sintetica</li>
	<li><span class="bold"><tmpl_var name="n_calciotto"></span> campo da Calciotto</li>
	<li><span class="bold"><tmpl_var name="n_tennis"></span> campi da Tennis di cui <span class="bold">1</span> scoperto</li>
	<li><span class="bold"><tmpl_var name="n_pallavolo"></span> campi da pallavolo</li>
	<li><span class="bold"><tmpl_var name="n_bvolley"></span> campi da <span xml:lang="en">Beach Volley</span></li>
	<li><span class="bold">6</span> spogliatoi calcio a 5</li>
	<li><span class="bold">6</span> spogliatoi tennis</li>
      </ul>
      <p>
			Potete prenotare un campo in qualsiasi momento comodamente da casa vostra 
			registrandovi e andando sulla sezione <a href="load.cgi?page=prenota"> prenota
			</a>. 
			Presentatevi prima alla segreteria per depositare la somma e confermare la 
			vostra presenza poi andate al campo prenotato.
			Ecco i prezzi per i vari campi per 1 ora di gioco:
			</p>
			<ul>
				<li>Campo calceto: 50€</li>
				<li>Campo calciotto: 80€</li>
				<li>Campo tennis: 5€ a persona</li>
				<li>Campo pallavolo: €60</li>
				<li>Campo beach volley: 5€ a persona</li>
			</ul>
      <p>
	Oltre alle varie strutture sportive, disponiamo di un fornitissimo bar aperto dalle <time>17:00</time> a <time>00:00</time> per spuntini e aperitivi.
      </p>
      <p>
	Per avere ulteriori informazioni o contattarci per qualsiasi problema visitate la sezione <a href="load.cgi?page=contatti">contatti</a>.
      </p>
    </div>
  </div>
<tmpl_include name = "footer.tmpl">
