<tmpl_include name = "header.tmpl">
  <div id="nav">
    <ul>
      <li><a href="load.cgi?page=home">Home</a></li>
      <li><a id="active">Gli Impianti</a></li>
      <li><a href="load.cgi?page=corsi">Fitness e corsi</a></li>
      <li><a href="load.cgi?page=contatti">Contatti</a></li>
      <li><a href="load.cgi?page=prenotazioni">Prenotazioni</a></li>
      <li><a href="load.cgi?page=personale">Area Personale</a></li>
    </ul>
  </div>

  <div id="content">
    <h2>Gli impianti</h2>
    <div id="images">
      <tmpl_loop name=imm_campi>
	<span>
	  <img src="<tmpl_var escape=html name=src>" alt="" />
	  <div class="caption">Campo calcetto esterno</div>
	</span>
      </tmpl_loop>
    </div>
    <div id="separator">
    </div>
    <div id="imp_desc">
      <p>  Il nostro centro offre tutto quello di cui uno sportivo ha bisogno, con un'estensione di oltre <em>360000<abbr title="Metri quadri">mq</abbr></em>
	e 14 strutture sportive, siamo uno dei centri più all'avanguardia della regione.
      </p>
      <p>
	Le nostre strutture sono le seguenti:
      </p>
      <ul>
	<li><span class="bold"><tmpl_var name="n_calcetto"></span> campi da Calcetto in erba sintetica</li>
	<li><span class="bold"><tmpl_var name="n_calciotto"></span> campo da Calciotto</li>
	<li><span class="bold"><tmpl_var name="n_tennis"></span> campi da Tennis di cui <span class="bold">1</span> scoperto</li>
	<li><span class="bold"><tmpl_var name="n_pallavolo"></span> campi da pallavolo</li>
	<li><span class="bold"><tmpl_var name="n_bvolley"></span> campi da <span xml:lang="en">Beach Volley</span></li>
	<li><span class="bold">6</span> spogliatoi calcio a 5</li>
	<li><span class="bold">6</span> spogliatoi tennis</li>
      </ul>
      <p>
	Potete trovare prezzi, orari e dettagli prenotazioni nelle singole sezioni delle varie discipline.
      </p>
      <p>
	Oltre alle varie strutture sportive, disponiamo di un fornitissimo bar aperto dalle <time>11:00</time> a <time>00:30</time> per spuntini e aperitivi.
      </p>
      <p>
	Per informazioni, prenotazioni, domande e suggerimenti trovate tutto il necessario nella sezione <a href="load.cgi?page=contatti">contatti</a>.
      </p>
    </div>
  </div>
<tmpl_include name = "footer.tmpl">
