<tmpl_include name = "header.tmpl">
  <a href="#content" class="skip" tabindex="1">Salta a contenuto</a>
  <div id="nav">
    <ul>
      <li><a id="active">Home</a></li>
      <li><a href="load.cgi?page=impianti">Gli Impianti</a></li>
      <li><a href="load.cgi?page=corsi">Fitness e corsi</a></li> 
      <li><a href="load.cgi?page=contatti">Contatti</a></li>
      <li><a href="load.cgi?page=prenotazioni">Prenotazioni</a></li>
      <li><a href="load.cgi?page=personale">Area Personale</a></li>
    </ul>
  </div>
  
  <div id="content">
    <a href="#login" class="skip" tabindex="2">Salta a login</a>
    <h2>Il centro</h2>
    <img src="../images/entrata_centro.jpg" alt="Il nostro centro sportivo" width="70%" id="splash"/>
    <p>	 
      Andrea Baldan e Alberto de Agostini, insieme a tutto lo staff delle ciccipanze ti danno il benvenuto nel sito del nuovo centro sportivo CSW.
    </p>
    <p>
    Ogni sportivo trovera' le migliori attrezzature per i propri allenamenti e il benessere personale, che si tratti di agonismo o semplice e salutare attivita' motoria. Alla sezione impianti trovi alcune informazioni relative alle attivita' proposte, e abbonamenti nella sezione corsi.				
    </p>
  </div>  
  <script type="text/javascript" src="../js/rtc_form.js" ></script>
<tmpl_include name = "footer.tmpl">
