<form action="login.pl" method="post" onsubmit="return validateLogin()" name="login" id="loginfrm" >
  <fieldset>
    <legend>Area personale</legend>
    <div class="formgroup">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="Username" />
    </div>
    <div class="formgroup">
      <label for="passwd">Password:</label>
      <input type="password" id="passwd" name="passwd" placeholder="Password" />
      <input type="hidden" id="page" name="page" value="<tmpl_var name = page>" />
    </div>
    <div class="formgroup">
      <input type="submit" value="sign in" class="button" />
      <a href="load.cgi?page=registrazione"><input type="submit" value="registrati" class="button" /></a>
    </div>
  </fieldset>
</form>
