<tmpl_include name = "header.tmpl">
  <a href="#content" class="skip" tabindex="1">Salta a contenuto</a>
  <div id="nav">
    <ul>
      <li><a href="load.cgi?page=home">Home</a></li>
      <li><a href="load.cgi?page=impianti">Gli Impianti</a></li>
      <li><a href="load.cgi?page=corsi">Fitness e corsi</a></li> 
      <li><a href="load.cgi?page=contatti">Contatti</a></li>
      <li><a href="load.cgi?page=prenotazioni">Prenotazioni</a></li>
      <li><a id="active">Area Personale</a></li>
    </ul>
  </div>	
  <div id="content">
    <a href="#login" class="skip" tabindex="2">Salta a login</a>
    <tmpl_if name = "is_logged">
      <h2>Riepilogo dati</h2>
      <ul class="riepilogo">
	<li><span class="bold">Nome:</span> <tmpl_var name = "name"></li>
	<li><span class="bold">Cognome:</span> <tmpl_var name = "surname"></li>
	<li><span class="bold" xml:lang="en">Email:</span> <tmpl_var name = "mail"></li>
	<li><span class="bold">Telefono:</span> <tmpl_var name = "tel"></li>
      </ul>
      <p>
	<a href="load.cgi?page=edit_personal" class="edit">Modifica</a>
      </p>
      <h2>Riepilogo prenotazioni</h2>
      <tmpl_if name = "has_pren">
	<table summary="Riepilogo delle prenotazioni effettuate" class="table table-corsi">
	  <caption>Prenotazioni effettuate</caption>
	  <thead>
	    <tr>
	      <th scope="col">Disciplina</th>
	      <th scope="col">Data</th>
	      <th scope="col">Ora</th>
	      <th scope="col">Campo</th>
	      <th scope="col">Rimuovi</th>
	    </tr>
	  </thead>
	  <tfoot>
	  </tfoot>
	  <tbody>
	    <tmpl_loop name = "pren_loop">
	      <tr>
		<td><tmpl_var name = "discipline"></td>
		<td><tmpl_var name = "data"></td>
		<td><tmpl_var name = "ora"></td>
		<td><tmpl_var name = "campo"></td>
		<td><a href="delete_prenotation.pl?disciplina=<tmpl_var escape=html name=discipline>&amp;campo=<tmpl_var escape=html name=campo>&amp;data=<tmpl_var escape=html name=data>&amp;ora=<tmpl_var escape=html name=ora>" class="remove"> Elimina</a></td>
	      </tr>
	    </tmpl_loop>
	  </tbody>
	</table>
	<tmpl_else>
	  <p><span class="riep_pren">
	    Nessuna prenotazione effettuata ancora
	  </span></p>
      </tmpl_if>
    <tmpl_else>
    <div class="centered">
      <p>
	Area personale, per accedervi bisogna essere loggati, se non sei ancora registrato fallo ora.
      </p>
      <p>
	<a href="load.cgi?page=registrazione"><input type="button" value="registrati ora" class="button" /></a>
      </p>
    </div>
    </tmpl_if>
  </div>
<tmpl_include name = "footer.tmpl">
