<tmpl_include name = "header.tmpl">
  <div id="nav">
    <ul>
      <li><a href="load.cgi?page=home">Home</a></li>
      <li><a href="load.cgi?page=impianti">Gli Impianti</a></li>
      <li><a href="load.cgi?page=corsi">Fitness e corsi</a></li>
      <li><a href="load.cgi?page=contatti">Contatti</a></li>
      <li><a id="active">Prenotazioni</a></li>
      <li><a href="load.cgi?page=personale">Area Personale</a></li>
    </ul>
  </div>
  <div id="content">
    <tmpl_if name = "is_logged">
      <form method="post" action="prenota.pl" onsubmit="return validate()" name="form" >
	<fieldset>
	  <legend><h2>PRENOTAZIONE</h2></legend>
	  <div class="formgroup">
	    <label for="disciplina">Disciplina</label>
	    <select id="disciplina" name="disciplina" class="p_field">
	      <option value="Calcetto">Calcetto</option>
	      <option value="Pallavolo">Pallavolo</option>
	      <option value="Calciotto">Calciotto</option>
	      <option value="Beach Volley">Beach Volley</option>
	      <option value="Tennis">Tennis</option>
	    </select>
	  </div>
	  <div class="formgroup">
	    <label for="ora">Ora:</label>
	    <select name="ora" id="ora" class="p_field" >
	      <option value="16:00">16:00</option>
	      <option value="17:00">17:00</option>
	      <option value="18:00">18:00</option>
	      <option value="19:00">19:00</option>
	      <option value="20:00">20:00</option>
	      <option value="21:00">21:00</option>
	      <option value="22:00">22:00</option>
	      <option value="23:00">23:00</option>
	    </select>
	  </div>
	  <div class="formgroup">
	    <label for="data">Giorno:</label> 
   	    <input type="date" name="data" id="data" class="p_field" />
	  </div>
	  <div id="button_container">
  	    <input type="reset"  value="Resetta il form" class="button" />
  	    <input type="submit" value="Conferma" class="button" />
	  </div>
	</fieldset>
      </form>
      <tmpl_else>
	<tmpl_include name = "login.tmpl">
    </tmpl_if>
    <div id="tables">
    <TMPL_IF NAME="SHOW_TBL">
      <TMPL_IF NAME="TBL">
	<TMPL_IF NAME="TEST">
	  SUCCESSDOG!
	  <TMPL_ELSE>
	    FALLIMENDOG!
	    <TMPL_VAR NAME=TABLE>
	</TMPL_IF>
      </TMPL_IF>
    </TMPL_IF>
    </div>
  </div>
  <script language="javascript" type="text/javascript" src="../js/rtc_form.js"></script>
  <tmpl_include name = "footer.tmpl">
