<tmpl_include name = "header.tmpl">
  <a href="#content" class="skip" tabindex="1">Salta a contenuto</a>	 
  <div id="nav">
    <ul>
      <li><a href="load.cgi?page=home">Home</a></li>
      <li><a href="load.cgi?page=impianti">Gli Impianti</a></li>
      <li><a href="load.cgi?page=corsi">Fitness e corsi</a></li>
      <li><a href="load.cgi?page=contatti">Contatti</a></li>
      <li><a id="active">Prenotazioni</a></li>
      <li><a href="load.cgi?page=personale">Area Personale</a></li>
    </ul>
  </div>
  <div id="content">
    <a href="#login" class="skip" tabindex="2">Salta a login</a>
    <tmpl_if name = "is_logged">
    <h2>Prenotazioni</h2>
      <form method="post" action="user_jobs.pl" onsubmit="return validate()" id="pform" class="prenfrm" >
	<fieldset>
	  <legend>Dati prenotazione</legend>
	  <div class="formgroup">
	    <label for="disciplina">Disciplina</label>
	    <select id="disciplina" name="disciplina" class="p_field">
	      <option value="Calcetto">Calcetto</option>
	      <option value="Pallavolo">Pallavolo</option>
	      <option value="Calciotto">Calciotto</option>
	      <option value="Beach Volley"><span xml:lang="xml">Beach Volley</span></option>
	      <option value="Tennis">Tennis</option>
	    </select>
	  </div>
	  <div class="formgroup">
	    <label for="ora">Ora:</label>
	    <select name="ora" id="ora" class="p_field" >
	      <option value="16:00">16:00</option>
	      <option value="17:00">17:00</option>
	      <option value="18:00">18:00</option>
	      <option value="19:00">19:00</option>
	      <option value="20:00">20:00</option>
	      <option value="21:00">21:00</option>
	      <option value="22:00">22:00</option>
	      <option value="23:00">23:00</option>
	    </select>
	  </div>
	  <div class="datagroup">
	    <label for="giorno">Giorno:</label> 
       <select id="giorno" name="giorno" class="p_field">
	    <option value="1">1</option>
	    <option value="2">2</option>
	    <option value="3">3</option>
	    <option value="4">4</option>
	    <option value="5">5</option>
	    <option value="6">6</option>
	    <option value="7">7</option>
	    <option value="8">8</option>
	    <option value="9">9</option>
	    <option value="10">10</option>
	    <option value="11">11</option>
	    <option value="12">12</option>
	    <option value="13">13</option>
	    <option value="14">14</option>
	    <option value="15">15</option>
	    <option value="16">16</option>
	    <option value="17">17</option>
	    <option value="18">18</option>
	    <option value="19">19</option>
	    <option value="20">20</option>
	    <option value="21">21</option>
	    <option value="22">22</option>
	    <option value="23">23</option>
	    <option value="24">24</option>
	    <option value="25">25</option>
	    <option value="26">26</option>
	    <option value="27">27</option>
	    <option value="28">28</option>
	    <option value="29">29</option>
	    <option value="30">30</option>
	    <option value="31">31</option>
	  </select>
	  <label for="mese">Mese:</label>
	  <select id="mese" name="mese" class="p_field">
	    <option value="1">Gennaio</option>
	    <option value="2">Febbraio</option>
	    <option value="3">Marzo</option>
	    <option value="4">Aprile</option>
	    <option value="5">Maggio</option>
	    <option value="6">Giugno</option>
	    <option value="7">Luglio</option>
	    <option value="8">Agosto</option>
	    <option value="9">Settembre</option>
	    <option value="10">Ottobre</option>
	    <option value="11">Novembre</option>
	    <option value="12">Dicembre</option>
	  </select>
	  <label for="anno">Anno:</label>
	  <select id="anno" name="anno" class="p_field">
	    <option value="2014">2014</option>
	    <option value="2015">2015</option>
	    <option value="2016">2016</option>
	    <option value="2017">2017</option>
	    <option value="2018">2018</option>
	    <option value="2019">2019</option>
	    <option value="2020">2020</option>
	  </select>
	  </div>
	  <div class="formgroup">
	    <input type="hidden" id="_cmd" name="_cmd" value="book" />
  	    <input type="reset"  value="Resetta il form" class="button" />
  	    <input type="submit" value="Conferma" class="button" />
	  </div>
	</fieldset>
      </form>
      <tmpl_else>
	  <p>
	    Area personale, per accedervi bisogna essere loggati, se non sei ancora registrato fallo ora.
	  </p>
	  <p>
	    <a href="load.cgi?page=registrazione" title="Registrati ora"><input type="button" value="Registrati ora" class="button" /></a>
	  </p>
    </tmpl_if>
    <div id="tables">
      <tmpl_if name = "show">
	<tmpl_if name = "test">
	<p>
	  Prenotazione effettuata con successo al campo 
	  <tmpl_var name = "campo">  in data <tmpl_var name = "data"> !
	  </p>
	<tmpl_else>
	<p>
	  Non e' stato possibile completare l'operazione, il campo richiesto secondo gli orari e la data selezionati e' gia' stato prenotato.
	  </p>
	  <tmpl_var name = "table">
	</tmpl_if>
      </tmpl_if>
    </div>
  </div>
  <script type="text/javascript" src="../js/rtc_form.js"></script>
  <tmpl_include name = "footer.tmpl">
