<tmpl_include name = "header.tmpl">
  <div id="nav">
    <ul>
      <li><a href="load.cgi?page=home">Home</a></li>
      <li><a href="load.cgi?page=impianti">Gli Impianti</a></li>
      <li><a href="load.cgi?page=corsi">Fitness e corsi</a></li> 
      <li><a href="load.cgi?page=contatti">Contatti</a></li>
      <li><a href="load.cgi?page=prenotazioni">Prenotazioni</a></li>
      <li><a id="active">Area Personale</a></li>
    </ul>
  </div>
  <div id="content">
    <form action="" method="post" onsubmit="return validate()" name="form" >
      <fieldset>
	<legend>Dati registrazione</legend>
	<div class="formgroup">
	  <label for="nome">Nome:</label>
	  <input type="text" name="nome" id="nome" value="" placeholder="insert name" />
	</div>
	<div class="formgroup">
	  <label for="cognome">Cognome:</label> 
	  <input type="text" name="cognome" id="cognome" value="" placeholder="insert surname" /> 
	</div>
	<div class="formgroup">
	  <label for="telefono">Telefono:</label> 
	  <input type="text" name="telefono" id="telefono" value="" placeholder="insert tel" />  
	</div>
	<div class="formgroup">
	  <label for="email">Email:</label>
	  <input type="text" name="email" id="email" value="" placeholder="insert email" />
	</div>
	<div class="formgroup">
	<input type="submit" value="sign up" class="button" />
	</div>
      </fieldset>
    </form>
  </div>
  <script type="text/javascript" src="../js/rtc_form.js"></script>
<tmpl_include name = "footer.tmpl">
