<tmpl_include name = "header.tmpl">
  <div id="content">
    <form action="" method="post" onsubmit="return validate()">
      <fieldset>
	<legend>Dati registrazione</legend>
	<p>
	  <label for="nome">Nome:</label>
	  <input type="text" name="nome" id="nome" value="" placeholder="insert name" /><span id="err_nome"></span>
	</p>
	<p>
	  <label for="cognome">Cognome:</label> 
	  <input type="text" name="cognome" id="cognome" value="" placeholder="insert surname" /><span id="err_cognome"></span> 
	</p>
	<p>
	  <label for="telefono">Telefono:</label> 
	  <input type="text" name="telefono" id="telefono" value="" placeholder="insert tel" /><span id="err_telefono"></span>    
	</p>
	<p>
	  <label for="email">Email:</label>
	  <input type="email" name="email" id="email" value="" placeholder="insert email" /><span id="err_email"></span>
	</p>
	<input type="submit" value="sign up" />
      </fieldset>
    </form>
  </div>
<tmpl_include name = "footer.tmpl">
