<tmpl_include name = "header.tmpl">
  <div id="nav">
    <ul>
      <li><a href="load.cgi?page=home">Home</a></li>
      <li><a href="load.cgi?page=impianti">Gli Impianti</a></li>
      <li><a href="load.cgi?page=corsi">Fitness e corsi</a></li> 
      <li><a href="load.cgi?page=contatti">Contatti</a></li>
      <li><a href="load.cgi?page=prenotazioni">Prenotazioni</a></li>
      <li><a href="load.cgi?page=personale">Area Personale</a></li>
    </ul>
  </div>
  <div id="content">
    <h2>Operazione riuscita!</h2>
    <a href="load.cgi?page=<tmpl_var escape = html name = page>" >Torna alla pagina precedente</a>
  </div>
<tmpl_include name = "footer.tmpl">
