<tmpl_include name = "header.tmpl">
  <div id="nav">
    <ul>
      <li><a href="admin.cgi">Home</a></li>
      <li><a href="admin.cgi?screen=news" class="here">News</a></li>
      <li><a href="admin.cgi?screen=courses">Corsi</a></li>
    </ul>
  </div>
  <div id="content">
    <form action="process.pl" method="post" class="admin-frm" onsubmit="return validateNews()" >
      <fieldset>
	<legend>Aggiungi notizia</legend>
	<div>
	<label for="titolo">Titolo</label>
	<input type="text" id="titolo" name="titolo" />
	<label for="data">Data (dd-mm-aaaa)</label>
	<input type="text" id="data" name="data" />
	<label for="contenuto">Contenuto</label>
	<textarea id="contenuto" name="contenuto"></textarea>
	<input type="hidden" id="formfor" name="formfor" value="add_n" />
	</div>
	<input type="reset"  id="reset" value="reset" />
	<input type="submit" id="submit" value="Aggiungi" />
      </fieldset>
    </form> 
  </div>
<tmpl_include name = "footer.tmpl">
