<tmpl_include name = "header.tmpl">
  <div id="nav">
    <ul>
      <li><a href="admin.cgi" class="home">Home</a></li>
      <li><a href="admin.cgi?screen=news">News</a></li>
      <li><a href="admin.cgi?screen=courses">Corsi</a></li>
    </ul>
  </div>
  <div id="content">
    <form action="process.pl" method="post">
      <fieldset>
	<legend>Aggiungi notizia</legend>
	<label for="id">ID:</label>
	<input type="text" id="id" name="id" />
	<label for="titolo">Titolo:</label>
	<input type="text" id="titolo" name="titolo" />
	<label for="data">Data:</label>
	<input type="text" id="data" name="data" />
	<label for="contenuto">Contenuto:</label>
	<input type="textarea" id="contenuto" name="contenuto"/>
	<input type="hidden" id="formfor" name="formfor" value="add_n" />
	<input type="submit" id="submit" value="submit">
      </fieldset>
    </form> 
  </div>
<tmpl_include name = "footer.tmpl">