<tmpl_include name = "header.tmpl">
  <div id="nav">
    <ul>
      <li><a href="admin.cgi" class="home">Home</a></li>
      <li><a href="admin.cgi?screen=news">News</a></li>
      <li><a href="admin.cgi?screen=courses">Corsi</a></li>
    </ul>
  </div>
  <div id="content">
   <table summary="" class="table table-mod">
      <caption>Corsi</caption>
      <thead>
	<tr>
	  <th scope="col">ID</th>
	  <th scope="col">Nome</th>
	  <th scope="col">Mensile</th>
	  <th scope="col">Trimestrale</th>
	  <th scope="col">Semestrale</th>
	  <th scope="col">Annuale</th>
	  <th colspan="2" scope="colgroup">Azione</th>
	</tr>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
	<tmpl_loop name = "courses">
	  <tr>
	    <td><tmpl_var name = "C_ID"></td>
	    <td><tmpl_var name = "C_NAME"></td>
	    <td><tmpl_var name = "MONTHLY"></td>
	    <td><tmpl_var name = "TRIMESTRAL"></td>
	    <td><tmpl_var name = "SEMESTRAL"></td>
	    <td><tmpl_var name = "ANNUAL"></td>
	    <td><a href="admin.cgi?screen=edit_course&id=<tmpl_var name = C_ID>">Modifica</a></td>
	    <td><a href="admin.cgi?screen=del_course&id=<tmpl_var name = C_ID>">Elimina</a></td>
	  </tr>
	</tmpl_loop>
      </tbody>
    </table>
    <p>
      <a href="admin.cgi?screen=add_course">Aggiungi corso</a>
    </p>
  </div>
<tmpl_include name = "footer.tmpl">
