<tmpl_include name = "header.tmpl">
  <div id="nav">
    <ul>
      <li><a href="admin.cgi">Home</a></li>
      <li><a href="admin.cgi?screen=news" class="here">News</a></li>
      <li><a href="admin.cgi?screen=courses">Corsi</a></li>
    </ul>
  </div>
  <div id="content">
    <form action="process.pl" method="post" class="admin-frm" onsubmit="return validateNews()" >
      <fieldset>
      <div>
	<legend>Modifica notizia</legend>
	<label for="id">ID</label>
	<input type="text" id="id" name="id" value="<tmpl_var escape = html name = id>" />
	<label for="titolo">Titolo</label>
	<input type="text" id="titolo" name="titolo" value="<tmpl_var escape = html name = n_title>"/>
	<label for="data">Data (dd-mm-aaa)</label>
	<input type="text" id="data" name="data" value="<tmpl_var escape = html name = n_date>"/>
	<label for="contenuto">Contenuto</label>
	<textarea id="contenuto" name="contenuto" ><tmpl_var escape = html name = n_content></textarea>
	<input type="hidden" id="formfor" name="formfor" value="edit_n" />
	</div>
	<input type="reset" id="reset" value="Resetta" />
	<input type="submit" id="submit" value="Aggiorna" />
      </fieldset>
    </form> 
  </div>
<tmpl_include name = "footer.tmpl"> 
