<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="it" lang="it">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Errore <tmpl_var name = "err_code" default = "404"></title>
  </head>
  <body>
    <div id="container">
      <div id="header">
	<h1>Errore <tmpl_var name = "err_code" default = "404"></h1>
	  <p><tmpl_var name = "err_desc"></p> 
      </div>
      <div id="footer">
	<p>
	  <span xml:lang="en">Copyright</span>© 2014 CiccipanzeSulWeb
	  <a href="http://validator.w3.org/check?uri=referer">
	    <img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" height="31" width="88" />
	  </a>
	</p>
      </div>
    </div>
  </body>
</html>
