<tmpl_include name = "header.tmpl">
  <div id="nav">
    <ul>
      <li><button><a href="admin.cgi?screen=edit_prenotation">Prenotazioni</a></button></li>
      <li><button><a href="admin.cgi?screen=edit_news">News</a></button></li>
      <li><button><a href="admin.cgi?screen=edit_courses">Corsi</a></button></li>
    </ul>
  </div>
  <div id="content">
    <p>tabella logs qui</p>
    <form action="process.pl" method="post">
      <input type="text" id="titolo" name="titolo">
      <input type="text" id="data" name="data">
      <input type="text" id="contenuto" name="contenuto">
      <input type="hidden" id="formfor" name="formfor" value="add_n">
      <input type="submit" id="submit" value="submit">
    </form>
  </div>
<tmpl_include name = "footer.tmpl">
