<tmpl_include name = "header.tmpl">
  <div id="nav">
    <ul>
      <li><a href="admin.cgi?screen=edit_prenotation">Prenotazioni</a></li>
      <li><a href="admin.cgi?screen=edit_news">News</a></li>
      <li><a href="admin.cgi?screen=edit_courses">Corsi</a></li>
    </ul>
  </div>
  <div id="content">
    <p>tabella logs qui</p>
  </div>
<tmpl_include name = "footer.tmpl">
