<tmpl_include name = "header.tmpl">
  <div id="nav">
    <ul>
      <li><button><a href="admin.cgi?screen=edit_prenotation">Prenotazioni</a></button></li>
      <li><a href="admin.cgi?screen=edit_news">News</a></li>
      <li><a href="admin.cgi?screen=edit_courses">Corsi</a></li>
    </ul>
  </div>
  <div id="content">
    <p>tabella logs qui</p>
    <form action="add_news.pl" method="post">
      <input type="text" id="primo" name="primo">
      <input type="text" id="secondo" name="secondo">
      <input type="hidden" id="formfor" name="formfor" value="news">
      <input type="submit" id="submit">
    </form>
  </div>
<tmpl_include name = "footer.tmpl">
