<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="it" lang="it">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Login amministrazione</title>
    <link rel="stylesheet" media="screen" href="../css/admin.css" />
  </head>
  <body>
    <div id="content">
      <form action="" method="post" id="adlogin" >
	<fieldset>
	  <legend>Login</legend>
	  <div class="formgroup">
	    <label for="username">Username:</label>
	    <input type="text" id="username" name="username" />
	  </div>
	  <div class="formgroup">
	    <label for="passwd">Password:</label>
	    <input type="password" id="passwd" name="passwd" />
	  </div>
	  <div class="formgroup">
	  <input type="submit" value="sign in" />
	  </div>
	</fieldset>
      </form>
    </div>
  </body>
</html>
