<tmpl_include name = "header.tmpl">
  <div id="nav">
    <ul>
      <li><a href="admin.cgi" class="home">Home</a></li>
      <li><a href="admin.cgi?screen=news">News</a></li>
      <li><a href="admin.cgi?screen=courses">Corsi</a></li>
    </ul>
  </div>
  <div id="content">
    <table summary="" class="table table-mod">
      <caption>News</caption>
      <thead>
	<tr>
	  <th scope="col">ID</th>
	  <th scope="col">Titolo</th>
	  <th scope="col">Contenuto</th>
	  <th scope="col">Data</th>
	  <th colspan="2" scope="colgroup">Azione</th>
	</tr>
      </thead>
      <tfoot>
      </tfoot>
      <tbody>
	<tmpl_loop name = "newslist">
	  <tr>
	    <td><tmpl_var name = "N_ID"></td>
	    <td><tmpl_var name = "N_TITLE"></td>
	    <td><tmpl_var name = "N_CONTENT"></td>
	    <td><tmpl_var name = "N_DATE"></td>
	    <td><a href="admin.cgi?screen=edit_news&id=<tmpl_var name = N_ID>">Modifica</a></td>
	    <td><a href="admin.cgi?screen=del_news&id=<tmpl_var name = N_ID>">Elimina</a></td>
	  </tr>
	</tmpl_loop>
      </tbody>
    </table>
    <p>
      <a href="admin.cgi?screen=add_news">Aggiungi news</a>
    </p>
  </div>
<tmpl_include name = "footer.tmpl"> 
