<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="it" lang="it">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width" />
<title>Gli Impianti</title>
<link rel="stylesheet" type="text/css" media="only screen and (min-width: 768px)" href="../css/style.css" />
<link rel="stylesheet" media="only screen and (min-width: 481px) and (max-width: 767px)" href="../css/tablet.css" />
<link rel="stylesheet" media="only screen and (max-width: 480px)" href="css/mobile.css" />

</head>
<body>
<div id="container">
	<div id="header">
		<h1>Centro Sportivo</h1>

		<div id="path">

		</div>
	</div>

	<div id="nav">
		<ul>
		  <li><a href="../index.html">Home</a></li>
		  <li><a id="active">Gli Impianti</a></li>
		  <li><a href="../artimarziali.html">Arti Marziali</a></li>
		  <li><a href="../fitness.html">Fitness</a></li>
		  <li><a href="../contatti.html">Contatti</a></li>
		  <li><a href="viewB.cgi">Prenotazioni</a></li>
		</ul>
	</div>

	<div id="content">
	  <div id="images">
	  <tmpl_loop name=imm_campi>
	    <span>
	    <img src="<tmpl_var escape=html name=src>" alt="" />
	    <div class="caption">Campo calcetto esterno</div>
	    </span>
	  </tmpl_loop>
	  </div>
	  <div id="separator">
	  </div>
	  <p>  Il nostro centro offre tutto quello di cui uno sportivo ha bisogno, con un'estensione di oltre <em>360000<abbr title="Metri quadri">mq</abbr></em>
		  e 14 strutture sportive, siamo uno dei centri più all'avanguardia della regione.
		</p>
		<p>
		  Le nostre strutture sono le seguenti:
		</p>
		<ul>
		  <li><span class="bold"><tmpl_var name="n_calcetto"></span> campi da Calcetto in erba sintetica</li>
		  <li><span class="bold"><tmpl_var name="n_calciotto"></span> campo da Calciotto</li>
		  <li><span class="bold"><tmpl_var name="n_tennis"></span> campi da Tennis di cui <span class="bold">1</span> scoperto</li>
		  <li><span class="bold"><tmpl_var name="n_pallavolo"></span> campi da pallavolo</li>
		  <li><span class="bold"><tmpl_var name="n_bvolley"></span> campi da <span xml:lang="en">Beach Volley</span></li>
		  <li><span class="bold">6</span> spogliatoi calcio a 5</li>
		  <li><span class="bold">6</span> spogliatoi tennis</li>
		</ul>
		<p>
		  Potete trovare prezzi, orari e dettagli prenotazioni nelle singole sezioni delle varie discipline.
		</p>
		<p>
		  Oltre alle varie strutture sportive, disponiamo di un fornitissimo bar aperto dalle <time>11:00</time> a <time>00:30</time> per spuntini e aperitivi.
		</p>
		<p>
		  Per informazioni, prenotazioni, domande e suggerimenti trovate tutto il necessario nella sezione <a href="./contatti.html">contatti</a>.
		</p>
	</div>
	<div id="news_container">
	<div id="news">
		<h2>NEWS</h2>
		<ul>
	      	<TMPL_LOOP NAME=NEWS>
		<li>
		  <TMPL_VAR NAME=N_TITLE>
		    <p>
		      <TMPL_VAR NAME=N_CONTENT>
		    </p>
		</li>
              </TMPL_LOOP>
	    </ul>
	</div>
	</div>
	<div id="footer">
		<p>
		    <span xml:lang="en">Copyright</span>© 2014 CiccipanzeSulWeb
		    <a href="http://validator.w3.org/check?uri=referer">
			<img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" height="31" width="88" />
		    </a>
		</p>
	</div>

</div>
</body>
</html>
