<!DOCTYPE html
	  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
	  "">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
  <head>
    <title>Prenotazioni</title>
    <meta name="content" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="only screen and (min-width: 768px)"/>
    <link rel="stylesheet" type="text/css" href="../css/mobile.css" media="only screen and (max-width: 480px)"/>
    <link rel="stylesheet" type="text/css" href="../css/tablet.css" media="only screen and (min-width: 481px) and (max-width: 767px)"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--    <script src="//code.jquery.com/jquery-1.10.2.js"></script>-->
    <script language="javascript" type="text/javascript" src="../js/script.js"></script>
  </head>
  <body>
    
    <div id="container">
      <div id="header">
	<h1>Centro Sportivo</h1>
	<div id="path">
	</div>
      </div>
      
      <div id="nav">
	<ul>
	  <li><a href="load.cgi?page=home">Home</a></li>
	  <li><a href="load.cgi?page=impianti">Gli impianti</a><li>
	  <li><a href="load.cgi?page=arti_marziali">Arti Marziali</a></li>
	  <li><a href="load.cgi?page=fitness">Fitness</a></li>
	  <li><a href="../contatti.html">Contatti</a></li>
	  <li><a id="active">Prenotazioni</a></li>
	</ul>
      </div>
      <div id="content">
	<div class="form-container">
      	   <h2>PRENOTAZIONI CAMPO <TMPL_VAR NAME=CAMPO></h2>
	   <form method="GET" id="form" name="form" class="frm-pren" action="">
    	   	 <fieldset>
		 <label for="disciplina"><span>Disciplina</span></label>
			<select id="disciplina" name="disciplina">
				<option value="Calcetto">Calcetto</option>
				<option value="Pallavolo">Pallavolo</option>
				<option value="Calciotto">Calciotto</option>
				<option value="Beach Volley">Beach Volley</option>
				<option value="Tennis">Tennis</option>
			</select>
			<input type="submit" value="Visualizza" class="button" />
			<a href="prenota.cgi"><input type="button" value="Nuova prenotazione" class="button" /></a>
		</fieldset>
	   </form>
	   </div>
	   <TMPL_VAR NAME=TABLE>
	</div>
	<div id="news_container">
	  <div id="news">
	    <h2>NEWS</h2>
	    <ul>
	      <TMPL_LOOP NAME=NEWS>
		<li>
		  <TMPL_VAR NAME=N_TITLE>
		    <p>
		      <TMPL_VAR NAME=N_CONTENT>
		    </p>
		</li>
              </TMPL_LOOP>
	    </ul>
	  </div>
	</div>
	<div id="footer">
	  <p>
	    <span lang="en">Copyright</span> © 2014 CiccipanzeSulWeb 
	    <a href="http://validator.w3.org/check?uri=referer">
	      <img height="31" src="http://www.w3.org/Icons/valid-xhtml10" width="88" alt="Valid XHTML 1.0 Strict" /> 
	    </a> 
	  </p> 
	</div>
      </div>
    </body>
 </html>
