<!DOCTYPE html
	  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
	  "">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
  <head>
    <title>Prenotazioni</title>
    <meta name="content" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="only screen and (min-width: 768px)"/>
    <link rel="stylesheet" type="text/css" href="../css/mobile.css" media="only screen and (max-width: 480px)"/>
    <link rel="stylesheet" type="text/css" href="../css/tablet.css" media="only screen and (min-width: 481px) and (max-width: 767px)"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    
    <div id="container">
      <div id="header">
	<h1>Centro Sportivo</h1>
	<div id="path">
	</div>
      </div>
      
      <div id="nav">
	<ul>
	  <li><a href="./index.html">Home</a></li>
	  <li><a href="./calcetto.html">Calcio a 5</a></li>
	  <li><a href="./calciotto.html">Calciotto</a></li>
	  <li><a href="./tennis.html">Tennis</a></li>
	  <li><a href="./beachvolley.html"> <span xml:lang="en">Beach Volley</span></a></li>
	  <li><a href="./pallavolo.html">Pallavolo</a></li>
	  <li><a href="./artimarziali.html">Arti Marziali</a></li>
	  <li><a href="./fitness.html">Fitness</a></li>
	  <li><a href="./contatti.html">Contatti</a></li>
	  <li><a id="active">Prenota</a></li>
	</ul>
      </div>
      <div id="content">
	<form method="POST" action="">
	  <fieldset>
	    <legend><h2>PRENOTAZIONE</h2></legend>
	    <label>Nome:
	      <input type="text" name="nome" id="nome" value="" />
            </label>
	    <label>Cognome: 
	      <input type="text" name="cognome" id="cognome" value="" />
            </label>    
	    <label>Telefono: 
	      <input type="text" name="telefono" id="telefono" value="" />
            </label>    
	    <label >Email:
	      <input type="email" name="email" id="email" value="" />
            </label>    
	    <label> Ora:
	      <select name="ora" id="ora">
		<option value="16:00">16:00</option>
		<option value="17:00">17:00</option>
		<option value="18:00">18:00</option>
		<option value="19:00">19:00</option>
		<option value="20:00">20:00</option>
		<option value="21:00">21:00</option>
		<option value="22:00">22:00</option>
		<option value="23:00">23:00</option>
	      </select> 
            </label>
            <input type="hidden" name="disciplina" id="disciplina" value="<TMPL_VAR ESCAPE=HTML NAME=DISCIPLINA DEFAULT=Calcetto>" />
	    <label>Giorno: 
   	      <input type="date" name="data" id="data" >
  	      </label>
            </fieldset>
            <fieldset>
  	      <input type="reset"  value="Resetta il form" class="button" />
  	      <input type="submit" value="Invia" class="button" />
            </fieldset>
	  </form>
	  <TMPL_IF NAME="TBL">
	    <TMPL_IF NAME="TEST">
	      SUCCESSDOG!
	    <TMPL_ELSE>
	      FALLIMENDOG!
	      <TMPL_VAR NAME=TABLE>
	    </TMPL_IF>
	  </TMPL_IF>
	</div>
	<div id="news_container">
	  <div id="news">
	    <h2>NEWS</h2>
	    <ul>
	      <TMPL_LOOP NAME=NEWS>
		<li>
		  <TMPL_VAR NAME=N_TITLE>
		    <p>
		      <TMPL_VAR NAME=N_CONTENT>
		    </p>
		</li>
              </TMPL_LOOP>
	    </ul>
	  </div>
	</div>
	<div id="footer">
	  <p>
	    <span lang="en">Copyright</span> © 2014 CiccipanzeSulWeb 
	    <a href="http://validator.w3.org/check?uri=referer">
	      <img height="31" src="http://www.w3.org/Icons/valid-xhtml10" width="88" alt="Valid XHTML 1.0 Strict" /> 
	    </a> 
	  </p> 
	</div>
      </div>
    </body>
 </html>
