<!DOCTYPE html
	  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"
	  "">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
  <head>
    <title>Prenotazioni</title>
    <meta name="content" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" media="only screen and (min-width: 768px)"/>
    <link rel="stylesheet" type="text/css" href="../css/mobile.css" media="only screen and (max-width: 480px)"/>
    <link rel="stylesheet" type="text/css" href="../css/tablet.css" media="only screen and (min-width: 481px) and (max-width: 767px)"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--    <script src="//code.jquery.com/jquery-1.10.2.js"></script>-->
    <script language="javascript" type="text/javascript" src="../js/script.js"></script>
  </head>
  <body>
    
    <div id="container">
      <div id="header">
	<h1>Centro Sportivo</h1>
	<div id="path">
	  <span><a href="viewB.cgi">Prenotazioni</a> >> Prenota</span>
	</div>
      </div>
      
      <div id="nav">
	<ul>
	  <li><a href="load.cgi?page=home">Home</a></li>
	  <li><a href="load.cgi?page=impianti">Gli Impianti</a></li>
	  <li><a href="load.cgi?page=corsi">Fitness e corsi</a></li>
	  <li><a href="load.cgi?page=contatti">Contatti</a></li>
	  <li><a id="active">Prenotazioni</a></li>
	</ul>
      </div>
      <div id="content">
	<div class="form-container">
	  <div id="form-path-1" class="active">
	  </div>
	  <div id="form-path-2" class="<tmpl_var escape=html name=class_act>">
	  </div>
	  <form method="POST" action="" class="frm-style" onsubmit="return validate()" name="form" >
	    <fieldset>
	      <legend><h2>PRENOTAZIONE</h2></legend>

	      <!-- FORM FASE 1, PRIMO ACCESSO -->
	      <input type="hidden" id="fase" name="fase" value="<tmpl_var escape=html name=fase default=1>">
	      <TMPL_IF NAME="FORM1">
	      <label for="nome"><span>Nome:</span></label>
	      <input type="text" name="nome" id="nome" value="" placeholder="insert name"><span id="err_nome"></span>
		<label for="cognome"><span>Cognome:</span></label> 
		<input type="text" name="cognome" id="cognome" value="" placeholder="insert surname"><span id="err_cognome"></span>    
		  <label for="telefono"><span>Telefono:</span></label> 
		  <input type="text" name="telefono" id="telefono" value="" placeholder="insert tel"><span id="err_telefono"></span>    
		    <label for="email"><span>Email:</span></label>
		    <input type="email" name="email" id="email" value="" placeholder="insert email"><span id="err_email"></span>
		    <label for="disciplina"><span>Disciplina:</span></label>
		    <select name="disciplina" id="disciplina">
		      <option value="Calcetto">Calcetto</option>
		      <option value="Calciotto">Calciotto</option>
		      <option value="Pallavolo">Pallavolo</option>
		      <option value="Tennis">Tennis</option>
		      <option value="Bvolley">Beach Volley</option>
		    </select>

		    <!-- FORM FASE 2 -->

		    <TMPL_ELSE>
		    
		      <input type="hidden" id="nome_h" name="nome_h" value="<tmpl_var escape=html name=h_nome>">
		      <input type="hidden" id="cognome_h" name="cognome_h" value="<tmpl_var escape=html name=h_cognome>">
		      <input type="hidden" id="numero_h" name="numero_h" value="<tmpl_var escape=html name=h_numero>">
		      <input type="hidden" id="email_h" name="email_h" value="<tmpl_var escape=html name=h_email>">
		      <input type="hidden" id="disciplina_h" name="disciplina_h" value="<tmpl_var escape=html name=h_disciplina>">
		    
		    <label for="ora"><span> Ora:</span></label>
		    <select name="ora" id="ora">
		      <option value="16:00">16:00</option>
		      <option value="17:00">17:00</option>
		      <option value="18:00">18:00</option>
		      <option value="19:00">19:00</option>
		      <option value="20:00">20:00</option>
		      <option value="21:00">21:00</option>
		      <option value="22:00">22:00</option>
		      <option value="23:00">23:00</option>
		    </select> 
		    <label for="campo"><span>Campo:</span></label>
		    <input type="number" name="campo" id="campo" min="1" max="<tmpl_var escape=html name=nr_campi default=3>" value="<tmpl_var escape=html name=c_val default=1>">
		      <label for="data"><span>Giorno:</span></label> 
   		      <input type="date" name="data" id="data" >
		      </fieldset>
		      </TMPL_IF>
		      <fieldset>
			<div id="button_container">
  			  <input type="reset"  value="Resetta il form" class="button" />
  			  <input type="submit" value="<tmpl_var escape=html name=button default=Prosegui>" class="button" />
			</div>
		      </fieldset>
		    </form>
		  </div>
		  <TMPL_IF NAME="SHOW_TBL">
	  <TMPL_IF NAME="TBL">
	    <TMPL_IF NAME="TEST">
	      SUCCESSDOG!
	    <TMPL_ELSE>
	      FALLIMENDOG!
	      <TMPL_VAR NAME=TABLE>
	    </TMPL_IF>
	  </TMPL_IF>
	    </TMPL_IF>
	</div>
	<div id="news_container">
	  <div id="news">
	    <h2>NEWS</h2>
	    <ul>
	      <TMPL_LOOP NAME=NEWS>
		<li>
		  <TMPL_VAR NAME=N_TITLE>
		    <p>
		      <TMPL_VAR NAME=N_CONTENT>
		    </p>
		</li>
              </TMPL_LOOP>
	    </ul>
	  </div>
	</div>
	<div id="footer">
	  <p>
	    <span lang="en">Copyright</span> © 2014 CiccipanzeSulWeb 
	    <a href="http://validator.w3.org/check?uri=referer">
	      <img height="31" src="http://www.w3.org/Icons/valid-xhtml10" width="88" alt="Valid XHTML 1.0 Strict" /> 
	    </a> 
	  </p> 
	</div>
      </div>
    </body>
 </html>
